<label class="<%=css.label%>"><%=component.label()%></label>
<div class="<%=css.container%> <%=css.group%>">
    <% if( component.descriptionText() ){ %>
    <% if( component.descriptionPosition() == 'block' ){ %>
    <p class="<%=css.help%>-block"><%= component.descriptionText() %></p>
    <% }else{ %>
    <span class="<%=css.help%>-inline"><%= component.descriptionText() %></span>
    <% } %>
    <% } %>
    <div class="<%=css.errorContainer%> <%=css.alert%>"></div>
</div>